$link-color: #3333ff;

.label-default {
  background-color: #cccccc;
}

.scale-50 {
  width: 49%;
  padding: 1%;
}

.scale-33 {
  width: 32.3333%;
  padding: 1%;
}

.scale-66 {
  width: 65.6666%;
  padding: 1%;
}

.site-footer {
  opacity: 0.2;
}

.site-footer:hover {
  opacity: 1;
}