@charset "utf-8";
$base-font-family: Outfit, -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Segoe UI Emoji", "Segoe UI Symbol", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif;
$base-font-weight: 200;
$base-font-size: 18px;
